body 
{ 
  background-color: #F7F7F7;
	padding-top: 70px; 
}
p
{
  margin:0;
  font-size:12px;
}
a
{
  font-size: 12px;
}

/* CSS for the Hompage */
.hpMainRowsImg
{

  padding:1%;

}
.hpMainRowsCol
{
  padding:1%;
}
/* CSS for the navigation */

.navbar-default {
  background-color: #FFE672 ;

  .navbar-brand {
    color: #FFD272;
    &:hover,
    &:focus {
      color: #FFD272;
      background-color: #FFD272;
    }
  }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #FFF672;
  color: #777;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:visited { 
  color: #777;
 }

.navbar-default .navbar-nav>li>a:hover {
  background-color: #FFF672;
  color: #8A8A8A;
}

.dropdown-menu {
  background-color: #FFE672;
}

.dropdown-toggle:active{
	background-color: #FFD272;
}
.dropdown-menu>li>a {
	color: #8A8A8A;
}
.dropdown-menu>li>a:hover {
	background-color: #FFF672;
  color: #8A8A8A;
}
.navbar-brand
{
  padding: 5px 15px;
}

.form-control:focus {
  border-color: #FFF672;
  box-shadow: inset 0 1px 1px rgba(255, 246, 114, 0.075), 0 0 8px rgba(255, 246, 114,0.6);
}

button.btn.btn-default:hover {
  background-color: white;
  border-color: #FFF672;
  box-shadow: inset 0 1px 1px rgba(255, 246, 114, 0.075), 0 0 8px rgba(255, 246, 114,0.6);
}

#submit_button:hover {
  background-color: #FFE672;
  border-color: #FFE672;
  box-shadow: inset 0 1px 1px rgba(255, 246, 114, 0.075), 0 0 8px rgba(255, 246, 114,0.6);
}

#logoTop{
  width: 20%;
}

div#myNavbar.navbar-collapse.collapse.in{
  border-color: #FFE672;
}

/* The next CSS is for the Sign Up Page */


span.glyphicon.glyphicon-user {
  color: #777;
  text-align: center;
}